name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
  # Run every hour
  schedule:
    - cron: '0 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Download lists, sort and remove duplicates
      - name: Update Blocklist
        run: |
          mkdir -p list
          
          # Increment Version
          if [ ! -f version.txt ]; then echo "0.00" > version.txt; fi
          current_version=$(cat version.txt)
          new_version=$(awk "BEGIN {printf \"%.2f\", $current_version + 0.01}")
          echo $new_version > version.txt

          # Create Header
          echo "! Title: BigBlockList" > header.txt
          echo "! Version: $new_version" >> header.txt
          echo "! Last modified: $(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> header.txt
          echo "! Sources: AdGuard DNS Filter, OISD Big" >> header.txt
          echo "!" >> header.txt

          # Download and Clean
          # Strip lines starting with ! or [
          curl -s "https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt" | grep -v -e "^!" -e "^\[" > file1.txt
          curl -s "https://big.oisd.nl" | grep -v -e "^!" -e "^\[" > file2.txt
          
          # Combine
          sort -u file1.txt file2.txt > combined_unsorted.txt
          
          # Apply Allowlist
          if [ -f "do_not_block" ]; then
            grep -vFx -f do_not_block combined_unsorted.txt > combined_cleaned.txt
          else
            mv combined_unsorted.txt combined_cleaned.txt
          fi
          
          # Final Output
          cat header.txt combined_cleaned.txt > list/bigblocklist.txt
          
          # Cleanup
          rm file1.txt file2.txt combined_unsorted.txt combined_cleaned.txt header.txt

      # Comit and push changes if there are any
      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add list/bigblocklist.txt version.txt
          if [[ -n $(git status -s) ]]; then
            git commit -m "Update bigblocklist.txt to version $(cat version.txt)"
            git push
          else
            echo "No changes to commit"
          fi
